/* (1600x900) HD+ Display */
@media screen and (max-width: 1080px) {
  /*efef*/
    /* insert styles here */
  html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: black;
  }

  #map {
    height: 275px;
    width: 550px;
    position: absolute;
    bottom: 0;
    margin-left: 31px;
    margin-bottom: 36px;

  }

  #titles{
    position: absolute;
    visibility: visible;
    left: 2%;
    top: 72%;
    width: 52%;
    z-index: 200;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 20px;
    padding-left: 10px;
    color: #efefef;
  }

  .inline{
    display: inline-block;
    padding: 5px;
  }

  .high-low{
    padding:7px;
  }

  #five-day-forecast{
    position: absolute;
    visibility: visible;
    left: 66%;
    top: 87%;
    z-index: 200;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: #efefef;
  }

  .time{
    position: absolute;
    top: 2%;
    left: 4%;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 60px;
    color: #efefef;
  }

  .temp{
    position: absolute;
    right: 4%;
    top: 2%;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 60px;
    color: #efefef;
  }

  .skycon{
    position: absolute;
    right: 16%;
    top: 3%;
  }

  .summary{
    position: absolute;
    right: 4%;
    top: 8%;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 28px;
    color: #efefef;
  }

  .day{
    position: absolute;
    left: 4%;
    top: 7%;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 28px;
    color: #efefef;
  }

  .date{
    position: absolute;
    left: 4%;
    top: 9.5%;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 28px;
    color: #efefef;
  }

  .fa{
    display: inline-block;
    color: #efefef;
  }

  .quote{
    text-align: center;
    width: 78%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 295px;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 28px;
    color: #efefef;
  }

  .joke{
    text-align: center;
    position: absolute;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 28px;
    color: #efefef;
    padding-top: 5px;
  }

  #output{
    position: absolute;
    visibility: visible;
    right: 55%;
    top: 76%;
    width: 37%;
    z-index: 200;
    position: absolute;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    background-color:transparent;
    font-size: 18px;
    border: none;
    color: #efefef;

  }

  .events{
    position: absolute;
    bottom: 17%;
    font-size: 20px;
    font-family: 'Raleway', sans-serif;
    font-weight: 900;
    left: 65%;
    color: #efefef;
  }

  .news-title{
    padding-left: 10px;
    color: #efefef;
  }

  #authorize-button{
    position: absolute;
    bottom: 40%;
    color: #efefef;
  }

  #large-weather-icon {
      font-size: 95px;
      content: "\f02e";
      color: #efefef;
  }

  .cal{
    color: #efefef;
    width: 95%;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 20px;
  }

.white{
  color: white;
}

#slideshow {
    margin: 50px auto;
    position: relative;
    width: 240px;
    height: 240px;
    padding: 10px;
    box-shadow: 0 0 20px rgba(0,0,0,0.4);
}

#slideshow > div {
    position: absolute;
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 10px;
    width: 100px;
    height: 100px;

}

.size-image{
  width: 300px;
  height: 300px;
}

}
/**/
