<div>
  <img class='' src="/webtmp/SMARTMIRROR.png">
</div>
<div id="slideshow">
   <div>
     <img class='size-image' src="/webtmp/IMG_1.jpg">
   </div>
   <div>
     <img class='size-image' src="/webtmp/IMG_2.jpg">
   </div>
   <div>
     <img class='size-image' src="/webtmp/IMG_3.jpg">
   </div>
   <div>
     <img class='size-image' src="/webtmp/IMG_4.jpg">
   </div>
   <div>
     <img class='size-image' src="/webtmp/IMG_6.jpg">
   </div>
   <div>
     <img class='size-image' src="/webtmp/IMG_7.jpg">
   </div>
</div>
